In [40]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,lit

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/27 09:29:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [28]:
df_green = spark.read.parquet('data/raw/green/*/*')
df_yellow = spark.read.parquet('data/raw/yellow/*/*')

In [29]:
df_green = df_green.withColumn("VendorID", col("VendorID").cast("int")) \
                    .withColumn("RatecodeID", col("RatecodeID").cast("int")) \
                    .withColumn("PULocationID", col("PULocationID").cast("int")) \
                    .withColumn("DOLocationID", col("DOLocationID").cast("int")) \
                    .withColumn("passenger_count", col("passenger_count").cast("int")) \
                    .withColumn("ehail_fee", col("ehail_fee").cast("double")) \
                    .withColumn("payment_type", col("payment_type").cast("int")) \
                    .withColumn("trip_type", col("trip_type").cast("int"))

df_yellow = df_yellow.withColumn("VendorID", col("VendorID").cast("int")) \
                    .withColumn("passenger_count", col("passenger_count").cast("int")) \
                    .withColumn("RatecodeID", col("RatecodeID").cast("int")) \
                    .withColumn("DOLocationID", col("DOLocationID").cast("int")) \
                    .withColumn("PULocationID", col("PULocationID").cast("int")) \
                    .withColumn("payment_type", col("payment_type").cast("int")) \
                    .withColumn("airport_fee", col("airport_fee").cast("double"))

In [30]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [31]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [33]:
df_yellow = df_yellow.withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
                        .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

df_green = df_green.withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
                        .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [34]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [35]:
common_columns = []

for col in df_green.columns:
    if col in df_yellow.columns:
        common_columns.append(col)
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [42]:
df_green_common = df_green.select(common_columns).withColumn('service_type', lit('green'))
df_yellow_common = df_yellow.select(common_columns).withColumn('service_type', lit('yellow'))

In [43]:
df_trips_data = df_green_common.unionAll(df_yellow_common)

In [44]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [48]:
df_trips_data.createOrReplaceTempView('trips_data')

In [52]:
spark.sql("""
SELECT 
    service_TYPE, 
    COUNT(1) 
FROM trips_data 
GROUP BY
    service_type
""").show()

+------------+--------+
|service_TYPE|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [58]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [59]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          42|2019-12-01 00:00:00|       green|  1471.5100000000002|                89.25|                   49.0|         94.03999999999999|                        30.6|                   34.800000000000026|          1810.7999999999984|                               41.25|         1.510204081632653|       3.006694915254238|
|          65|2019-12-01 00:00:00|       green|               484.0|                19.25|                   16.5|                     79.54|                         0.0|                   10.200000000000003|           623.2400000000001|                                16.5|        1.0588235294117647|      3.2529411764705887|
|          74|2020-01-01 00:00:00|       green|   375950.3700000055|              17145.0|                16213.0|         41306.62000000002|          6961.2999999998965|                   10097.999999998883|          488193.08999985433|                            24812.25|         1.310303440635194|       2.367764712781863|
|          80|2020-01-01 00:00:00|       green|  39845.659999999945|              1357.25|                  739.0|         4192.500000000013|           608.0300000000003|                    565.5000000000056|          48419.790000000045|                             1190.75|        1.4411590774689533|       4.099273631840797|
|         157|2020-01-01 00:00:00|       green|   9240.449999999999|                542.0|                   99.0|         256.5200000000001|          200.44000000000008|                   108.59999999999933|          10501.910000000013|                                55.0|         1.284153005464481|       4.803283582089551|
|         195|2020-01-01 00:00:00|       green|  11362.090000000017|                549.0|                  142.5|         807.2799999999999|           255.0700000000001|                   135.29999999999941|          13434.989999999987|                              129.25|         1.211726384364821|      4.5826095238095235|
|         115|2020-02-01 00:00:00|       green|  1223.5399999999997|                 20.0|                   13.5|                       0.0|           298.9000000000001|                    9.900000000000002|          1565.8399999999992|                                 0.0|        1.1724137931034482|      12.094285714285714|
|         163|2020-02-01 00:00:00|       green|   972.2200000000001|                 71.5|                    1.5|                       0.0|                       24.48|                    8.099999999999998|                      1077.8|                                 0.0|                       1.0|        9.73074074074074|
|         208|2019-12-01 00:00:00|       green|  156.48000000000002|                  6.5|                    1.0|                      0.49|                         0.0|                                  1.8|                      168.22|                                 0.0|                       1.0|                    4.37|
|         196|2020-02-01 00:00:00|       green|   46431.39999999959|              2150.75|                 1168.0|        1604.5999999999997|           718.9599999999998|                    868.7999999999597|           53160.90999999983|                              217.25|        1.4604591836734695|       3.415110132158582|
|          43|2020-02-01 00:00:00|       green|   48231.04999999999|              2810.25|                 2211.0|          7933.62000000006|           421.7400000000003|                    1342.499999999888|           70794.86000000266|                             8733.75|        1.3794502027940514|      2.3128825227625978|
|          75|2019-12-01 00:00:00|       green|   724.8700000000001|                62.25|                   33.5|                     54.45|                         0.0|                   20.700000000000028|           922.4699999999993|                                44.0|        1.4307692307692308|      2.1626086956521746|
|          70|2019-12-01 00:00:00|       green|                67.0|                  2.5|                    2.5|                       0.0|                         0.0|                                  1.5|                        73.5|                                 0.0|                       1.2|                   3.162|
|         188|2020-01-01 00:00:00|       green|   55240.35000000012|              4151.75|                  590.5|         376.1799999999999|           722.8400000000006|                    705.5999999999843|           61912.56999999925|                                60.5|        1.1926345609065157|       3.945763546798032|
|         118|2020-01-01 00:00:00|       green|              533.73|                 11.5|                    2.0|                       0.0|                       82.58|                   2.6999999999999997|                      632.51|                                 0.0|                       1.4|      17.745555555555555|
|          40|2020-02-01 00:00:00|       green|  21868.530000000024|                898.0|                  832.5|        3177.4100000000008|          397.80000000000024|                    518.7000000000131|          28665.889999999592|                               965.0|        1.2487951807228916|       2.853230240549828|
|         203|2020-02-01 00:00:00|       green|   9738.940000000004|                580.5|                   47.0|                       0.0|          208.08000000000007|                    77.99999999999962|          10652.519999999986|                                 0.0|        1.2878787878787878|        9.62655913978495|
|         124|2020-01-01 00:00:00|       green|  7916.2699999999995|                464.5|                   52.5|                     15.56|           285.2700000000001|                    74.99999999999964|           8809.100000000002|                                 0.0|        1.0185185185185186|        7.09040590405904|
|         193|2008-12-01 00:00:00|       green|                 8.0|                  1.0|                    1.5|                      0.95|                         0.0|                   0.8999999999999999|          12.350000000000001|                                 0.0|                       1.0|                     0.0|
|          49|2020-02-01 00:00:00|       green|   46654.46000000017|               3007.5|                 1067.0|         2361.539999999999|          425.58000000000027|                    834.8999999999652|           55046.42999999914|                              505.75|        1.1784332688588008|      3.2917910447761134|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [60]:
df_result.write.parquet('data/report/revenue')