In [35]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv('local_data/yellow_tripdata_2021-01.csv')

/tmp/ipykernel_39011/547801105.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('local_data/yellow_tripdata_2021-01.csv')

In [12]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [21]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

## Pegar o CREATE TABLE de um dataframe existente

In [19]:
pd.io.sql.get_schema(df, name='yellow_taxi_data')

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" REAL,\n  "tpep_pickup_datetime" TEXT,\n  "tpep_dropoff_datetime" TEXT,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" REAL,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL\n)'

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

## Conectar ao postgres utilizando sqlalchemy

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect()

In [28]:
df_iter = pd.read_csv("local_data/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [29]:
df = next(df_iter)

In [30]:
len(df)

100000

In [31]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [33]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con = engine, if_exists='replace')

0

In [34]:
%time df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append')

CPU times: user 5.11 s, sys: 74.8 ms, total: 5.19 s
Wall time: 8.79 s

1000

In [36]:
while True:
    t_start = time()
    
    df = next(df_iter)

    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

    df.to_sql(name = 'yellow_taxi_data', con = engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f seconds' % (t_end - t_start))

inserted another chunk, took 9.121 seconds
inserted another chunk, took 9.218 seconds
inserted another chunk, took 9.042 seconds
inserted another chunk, took 8.999 seconds
inserted another chunk, took 9.085 seconds
inserted another chunk, took 9.075 seconds
inserted another chunk, took 9.059 seconds
inserted another chunk, took 8.870 seconds
inserted another chunk, took 9.179 seconds
inserted another chunk, took 9.060 seconds
inserted another chunk, took 8.969 seconds

/tmp/ipykernel_39011/3185273568.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.938 seconds
inserted another chunk, took 5.841 seconds

StopIteration:

In [1]:
x = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'

In [6]:
print(x[-3:])

.gz